@import '/src/variables.scss';

.iconsBar{
    align-items: center;
    display:flex;
    font-family: $text-font;
}

.iconsBar-links{
    display: flex;
    margin: auto;
}

.iconsBar-links li{
    list-style: none;
}

.iconsBar-links a{
    margin:0px 10px;
}

.iconsBar-links li a:hover{
    filter: invert(33%) sepia(100%) saturate(6230%) hue-rotate(331deg) brightness(101%) contrast(101%);
}