@import '/src/variables.scss';

.footerSection{
    background-color: $primary-footer-bg;
    display: flex;
    flex-direction: column;
    min-height: 230px;
}

.footerLogo{
    filter: invert(69%) sepia(3%) saturate(5196%) hue-rotate(118deg) brightness(70%) contrast(95%);
    margin: auto;
}

.footerItem{
    display: inline-flex;
    margin-top: 50px;
}