@import "/src/variables";

.header{
  background-image: url('../../images/desktop/image-header.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 700px;
  min-width: $mobile-breakpoint;
}

.sectionTitle{
    color:$neutral-white;
    font-family: $title-font;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 10px;
    margin-top:80px;
    text-align: center;
    width: 100%;
}

.divArrown{
  display: flex;
  margin-top: 60px;
}

.arrowIcon{
  margin:auto;
}

@media(max-width:$mobile-breakpoint){
  .header{
    background-image: url('../../images/mobile/image-header.jpg');
    height: 600px;
  }
}